@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:regular,700&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #555555;
$accentColor: #c0301c;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__hero {
	}
	&__services {
	}
	&__about {
	}
	&__works {
	}
	&__get-in-touch {
	}
}
//===================================================================================================================================
.hero {
	display: flex;
	min-height: 100vh;
	position: relative;
	background: url("../img/hero/cover.jpg") center / cover no-repeat;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(#000, 0.45);
	}
	&__container {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		z-index: 5;
	}
	&__body {
		text-align: center;
		padding: 120px 0px;
		@media (min-width: $md2+px) {
			max-width: 600px;
		}
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		font-weight: 700;
		text-transform: uppercase;
		@include adaptiv-value("font-size", 48, 34, 1);
		line-height: math.div(58, 48) * 100%;
		margin: 0px 0px math.div(30, 48) * 1em 0px;
	}
	&__text {
		font-family: "Roboto Slab";
		font-size: 20px;
		line-height: math.div(24, 20) * 100%;
		margin: 0px 0px math.div(50, 20) * 1em 0px;
	}
}
//====================================================================================================
.services {
	&__head {
		@include adaptiv-value("margin-bottom", 70, 40, 1);
	}
	&__body {
		display: grid;
		gap: 40px;
		@media (min-width: 600px) {
			grid-template-columns: repeat(2, 1fr);
			@media (min-width: 800px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}
.item-services {
	text-align: center;
	& > *:last-child {
		margin-bottom: 0;
	}
	&_active {
		.item-services__image {
			background-color: $accentColor;
		}
	}
	@media (max-width: 800px) and (min-width: 600px) {
		&:nth-child(3) {
			grid-column: span 2;
		}
	}
	&__image {
		margin: 0px auto;
		width: 90px;
		height: 90px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 2px solid #ddd;
		@include adaptiv-value("margin-bottom", 30, 20, 1);
	}
	&__title {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: math.div(24, 14) * 100%;
		margin: 0px 0px math.div(24, 14) * 1em 0px;
	}
	&__text {
		font-size: 14px;
		font-family: "Roboto Slab";
		line-height: math.div(24, 14) * 100%;
		margin: 0px 0px math.div(24, 14) * 1em 0px;
	}
}
//====================================================================================================
.about {
	background-color: #f8f8f8;
	&__head {
		@include adaptiv-value("margin-bottom", 70, 40, 1);
	}
	&__content {
		display: grid;
		gap: 30px;
		@include adaptiv-value("margin-bottom", 70, 40, 1);
		@media (min-width: $md2+px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__text {
		font-family: "Roboto Slab";
		line-height: math.div(24, $fontSize) * 100%;
	}
}
.slider-about {
	position: relative;
	&__slide {
		@media (any-hover: hover) {
			&:hover {
				.slider-about__overlay {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (any-hover: none) {
			.slider-about__overlay {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__image {
		position: relative;
		padding: 0px 0px math.div(250, 263.25) * 100% 0px;
		margin: 0px 0px 15px 0px;
		img {
			object-position: top;
		}
	}
	&__overlay {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba($mainColor, 0.5);
		padding: 0px 0px 32px 0px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
	}
	&__social {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	&__icon {
		flex: 0 0 28px;
		width: 28px;
		height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s;
		&:not(:last-child) {
			margin: 0px 2px 0px 0px;
		}
		&::before {
			color: #fff;
			font-size: 16px;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $accentColor;
			}
		}
	}
	&__info {
		text-align: center;
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	&__name {
		font-weight: 700;
		text-transform: uppercase;
		line-height: math.div(24, $fontSize) * 100%;
		margin: 0px 0px math.div(2, $fontSize) * 1em 0px;
	}
	&__post {
		font-family: "Roboto Slab";
		font-size: 13px;
		line-height: math.div(24, 13) * 100%;
		margin: 0px 0px math.div(2, 13) * 1em 0px;
	}
	&__arrows {
		display: flex;
		align-items: center;
		justify-content: space-between;
		pointer-events: none;
		position: absolute;
		width: 100%;
		top: math.div(106, 312.281) * 100%;
		@media (max-width: $md2+px) {
			display: none;
		}
	}
}
.slider-arrow {
	flex: 0 0 35px;
	width: 35px;
	height: 38px;
	cursor: pointer;
	pointer-events: auto;
	transition: all 0.3s ease 0s;
	color: #fff;
	background-color: #8b8b8b;
	transition: background-color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			background-color: $accentColor;
		}
	}
	&_prev {
		&::before {
			transform: rotate(-180deg);
		}
	}
}
//====================================================================================================
.works {
	&__head {
		@include adaptiv-value("margin-bottom", 70, 40, 1);
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	&__item {
		margin: 0px 12.5px;
	}
	&__link {
		color: inherit;
		font-family: "Roboto Slab";
		font-size: 16px;
		line-height: math.div(24, 16) * 100%;
		transition: color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: #000;
			}
		}
		&._active {
			color: $accentColor;
		}
	}
	&__body {
		display: grid;
		@include adaptiv-value("gap", 30, 15, 1);
		@media (min-width: 600px) {
			grid-template-columns: repeat(2, 1fr);
			@media (min-width: $md2+px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}
.block-works {
	@media (max-width: $md2+px) and (min-width: 600px) {
		&:nth-child(9) {
			grid-column: span 2;
			.block-works__image {
				padding: 0px 0px math.div(414.984, 961) * 100% 0px;
			}
		}
	}
	@media (any-hover: hover) {
		&:hover {
			.block-works__cover {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	@media (any-hover: none) {
		.block-works__cover {
			opacity: 1;
			visibility: visible;
			background-color: rgba($accentColor, 0.5);
		}
	}
	&__image {
		position: relative;
		padding: 0px 0px math.div(320, 360) * 100% 0px;
	}
	&__cover {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: #fff;
		background-color: rgba($accentColor, 0.7);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		font-size: 18px;
		line-height: math.div(24, 18) * 100%;
		margin: 0px 0px math.div(5, 18) * 1em 0px;
	}
	&__category {
		font-family: "Roboto Slab";
		font-size: 12px;
		line-height: math.div(24, 12) * 100%;
		margin: 0px 0px math.div(20, 12) * 1em 0px;
	}
	&__button {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		min-height: 38px;
		padding: 0px 20px;
		color: $accentColor;
		font-family: "Roboto Slab";
		background-color: #fff;
		transition: color 0.3s, background-color 0.3s;
		text-transform: uppercase;
		line-height: math.div(24, $fontSize) * 100%;
		letter-spacing: 1px;
		&::before {
			font-size: 10px;
			padding: 0px 0px 0px 8px;
			transition: transform 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: #111;
				&::before {
					transform: translateX(25%);
				}
			}
		}
	}
}
//====================================================================================================
.get-in-touch {
	@include adaptiv-value("padding-top", 90, 40, 1);
	@include adaptiv-value("padding-bottom", 100, 50, 1);
	background: url("../img/get-in-touch/cover.jpg") center / cover no-repeat;
	background-position: 0 73%;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba($accentColor, 0.6);
	}
	&__container {
		position: relative;
		z-index: 5;
		text-align: center;
		& > *:last-child {
			margin-bottom: 0;
		}
		@media (min-width: $md3+px) {
			max-width: 454px;
		}
	}
	&__title {
		color: #fff;
		font-family: "Roboto Slab";
		@include adaptiv-value("font-size", 30, 24, 1);
		line-height: math.div(44, 30) * 100%;
		margin: 0px 0px math.div(45, 30) * 1em 0px;
		span {
			text-transform: uppercase;
		}
	}
	&__button {
		margin: 0px 0px 30px 0px;
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
